/* Demos
-------------------------------------------------- */

.demo-page.center-align-a img {
    box-shadow: var(--bs-box-shadow);
  }
  
  .demo-page.center-align-a p {
    display: inline;
    position: absolute;
    text-align: center;
    width: 190px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
  }
  
  #page-tr-info {
    float: right;
    margin-top: -60px;
    position: relative;
    z-index: 99;
  }
  
  #githubBtn-tr-info {
    float: right;
    margin-top: -60px;
    position: relative;
    z-index: 99;
  }
  
  .demo-button {
    cursor: pointer;
    cursor: hand;
  }
  
  .demo-button .logo {
    fill: #afafaf;
  }
  
  .flash-button.active .logo,
  .flash-button:hover .logo {
    fill: red;
  }
  
  .html5-button.active .logo,
  .html5-button:hover .logo {
    fill: orange;
  }
  
  .flash-warning {
    margin: 0 auto;
    display: none;
    text-align: center;
  }
  
  .html5-demo {
    border: none;
    margin: 0 auto;
    display: block;
  }
  
  .install-flash-player-prompt {
    width: 110px;
  }