<header>
	<nav>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">

				<div class="navbar-header">
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
						<span class="icon-bar" />
						<span class="icon-bar" />
						<span class="icon-bar" />
					</button>
					<a href="/" class="navbar-brand"><img src="/images/haxeflixel-header.svg" height="31" alt="HaxeFlixel" /></a>
				</div>

				<div class="navbar-collapse collapse">

					<ul class="nav navbar-nav">
						
						{% comment %} These old docpad partials use variables from current page, getting if the class is "active" {% endcomment %}
						{% comment %} <li <%= @ademos %> class="dropdown "> {% endcomment %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examples <span class="caret"></span></a>
							<ul class="dropdown-menu inverse-dropdown">
							  <li><a href="/demos">Demos</a></li>
							  <li><a href="https://snippets.haxeflixel.com/">Snippets</a></li>
							</ul>
						</li>

						{% comment %} <li <%= @ashowcase %>> {% endcomment %}
						<li>
							<a href="/showcase">Showcase</a>
						</li>

						{% comment %} <li <%= @ablog %>> {% endcomment %}
						<li>
							<a href="/blog">Blog</a>
						</li>

						{% comment %} <li <%= @adocs %>> {% endcomment %}
						<li>
							<a href="/documentation">Docs</a>
						</li>

						<li>
							<a href="http://api.haxeflixel.com">API</a>
						</li>

						{% comment %} <li <%= @aforum %>> {% endcomment %}
						<li>
							<a href="https://github.com/HaxeFlixel/flixel/discussions">Forum</a>
						</li>

					</ul>
		
					{% comment %} <%- @partial('search.html') %> {% endcomment %}

				</div>

			</div>

		</div>

	</nav>
</header>