---
title: "The HaxeFlixel Blog"
layout: blog-layout
---
<div class="container">
	<div class="row">
		{%- for blog in collections.blogpost reversed -%}
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">{{ blog.data.title }}</h3>

					<div class="card-subtitle text-body-secondary float-end">
						<div class="post-date-preview">
							{% readtime blog.content %} min read | {{ blog.data.postDate }}
						</div>
					</div>
					<p class="mb-0 card-text">
						{{ blog.content | strip_html | truncate: 250 -}}
						<a href="{{blog.url}}" class="stretched-link"> read more</a>
					</p>
					{% comment %} <p><%- blog.contentPreview %> <a href="<%= blog.url %>"> read more</a></p> {% endcomment %}
				</div>
			</div>

			<hr class="my-3">
		{%- endfor -%}
	</div>
</div>
