---
title: "Page not found"
layout: 404-layout
permalink: 404.html
---

<div class="container">
<div class="row">

<h2>Strange, we are unable to find the page you have requested.</h2>

<p>It might have been removed, lost or never existed.
You could try and find it using <a href="https://google.com/search?q=site%3Ahaxeflixel.com">search</a>

<p>Otherwise ask on our <a href="https://github.com/HaxeFlixel/flixel/discussions">forums</a></p>

</div>
</div>