pre {
	background-color: #1e1e1e;
	display: block;
	overflow-x: auto;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 14px;
	color: #ffffff;
}
.highlighted .mtk1 {
	color: #ffffff;
}
.highlighted .mtk2 {
	color: #ffffff;
}
.highlighted .mtk3 {
	color: #6796e6;
}
.highlighted .mtk4 {
	color: #608b4e;
}
.highlighted .mtk5 {
	color: #569cd6;
}
.highlighted .mtk6 {
	color: #d16969;
}
.highlighted .mtk7 {
	color: #d7ba7d;
}
.highlighted .mtk8 {
	color: #b5cea8;
}
.highlighted .mtk9 {
	color: #ce9178;
}
.highlighted .mtk10 {
	color: #646695;
}
.highlighted .mtk11 {
	color: #4ec9b0;
}
.highlighted .mtk12 {
	color: #dcdcaa;
}
.highlighted .mtk13 {
	color: #9cdcfe;
}
.highlighted .mtk14 {
	color: #000080;
}
.highlighted .mtk15 {
	color: #f44747;
}
.highlighted .mtk16 {
	color: #c586c0;
}
.highlighted .mtk17 {
	color: #d4d4d4;
}
.highlighted .mtk18 {
	color: #808080;
}
.highlighted .mtki {
	font-style: italic;
}
.highlighted .mtkb {
	font-weight: bold;
}
.highlighted .mtku {
	text-decoration: underline;
}
