---
layout: default.liquid
# Flixel Green for blog posts
embedColor: "#00b92b"
---
<!-- <%- @partial('header-menu.html.eco', {ablog:"class='active'"}) %> -->

<div class="col-md-9 mx-auto">
	<div>
		<h1 class="title text-center">
			<a
				class="icon-link icon-link-hover"
				style="color:var(--bs-body-color)"
				onclick="copyAnchorLink()">
				{{- title }}
				<i class="bi-link-45deg" aria-hidden="true"></i
			></a>
		</h1>
		<p class="post-date mx-auto text-center">{% readtime content %} min read | {{ postDate }}</p>
	</div>

	{{ content }}

	<br>
	<hr>
	<br>

	<!-- <%- @getDisqus() %> -->
</div>
