---
layout: default.liquid
---
<h1 class="title ">{{ title }} 
<div class="float-end">
	<a
	class="github-button"
	href="https://github.com/haxeflixel/flixel-demos"
	data-color-scheme="no-preference: light_high_contrast; light: light_high_contrast; dark: dark_high_contrast;"
	data-size="large"
	data-show-count="true"
	aria-label="Star haxeflixel/flixel on GitHub"
	>haxeflixel/flixel-demos</a>
</div>	
 </h1>

{{ content }}
