---
layout: default.liquid
---
<h1 class="title">{{ title }}</h1>

<iframe
	width="180px"
	scrolling="0"
	height="30px"
	frameborder="0"
	id="githubBtn-tr-info"
	allowtransparency="true"
	src="https://ghbtns.com/github-btn.html?user=haxeflixel&amp;repo=flixel-demos&amp;type=watch&amp;count=true&amp;size=large"></iframe>

{{ content }}
