---
layout: default
---
<h1 class="title">
	{{ title }}

	<div class="float-end">
		<a
			class="github-button"
			href="https://github.com/haxeflixel/flixel-docs"
			data-color-scheme="no-preference: light_high_contrast; light: light_high_contrast; dark: dark_high_contrast;"
			data-size="large"
			data-show-count="true"
			aria-label="Star haxeflixel/flixel on GitHub"
			>haxeflixel/flixel-docs</a
		>
	</div>
</h1>

<p>
	The HaxeFlixel documentation is provided from the
	<a href="https://github.com/HaxeFlixel/flixel-docs">flixel-docs repository</a> and is open for
	contributions on GitHub that will be pushed here.
</p>

{{ content }}
