---
layout: default
# Flixel Red for showcase sections
embedColor: "#ff2346"
---
<h1 class="title">
	{{ title }}

	<div class="float-end">
		<a
			class="github-button"
			href="https://github.com/haxeflixel/haxeflixel.com?tab=readme-ov-file#how-to-add-a-showcase-game"
			data-color-scheme="no-preference: light_high_contrast; light: light_high_contrast; dark: dark_high_contrast;"
			data-size="large"
			data-show-count="true"
			aria-label="Star haxeflixel/flixel on GitHub"
			>haxeflixel/haxeflixel.com</a
		>
	</div>
</h1>

{{ content }}
