---
layout: default
---
<h1 class="title">
	{{ title }}

	<a
		type="button"
		class="btn btn-outline-primary float-end h3"
		href="https://github.com/HaxeFlixel/haxeflixel.com/new/dev/content/demos"
		target="_blank"
		><i class="bi-plus float-end"></i
	></a>

	<a
		type="button"
		class="btn btn-outline-primary float-end h3 me-1"
		href="https://github.com/HaxeFlixel/haxeflixel.com/blob/dev/README.md#contributing-documentation-demos-and-showcases"
		target="_blank"
		>Add Showcase</a
	>
</h1>

{{ content }}
