---
layout: default.liquid
---
<div class="col-md-8">

	<h1 class="title">{{title}}</h1>
  {{content}}
  
</div>

<div class="col-md-4 twitter-widget">
  <a class="twitter-timeline" href="https://twitter.com/HaxeFlixel" data-widget-id="491877121183080448" data-height="850">Tweets by @HaxeFlixel</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

</div>

