---
layout: default.liquid
---
<!-- <%- @partial('header-menu.html.eco', {ablog:"class='active'"}) %> -->

<div class="col-md-8">
	<h1 class="title">{{ title }}</h1>

	<p class="post-date">{{ postDate }}</p>

	{{ content }}

	<br>
	<hr>
	<br>

	<!-- <%- @getDisqus() %> -->
</div>
