<header>
	<nav>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">

				<div class="navbar-header">
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
						<span class="icon-bar" />
						<span class="icon-bar" />
						<span class="icon-bar" />
					</button>
					<a href="/" class="navbar-brand"><img src="/images/haxeflixel-header.svg" height="31" alt="HaxeFlixel" /></a>
				</div>

				<!-- <div class="navbar-collapse collapse">

					<ul class="nav navbar-nav">

						<li <%= @ademos %> class="dropdown ">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examples <span class="caret"></span></a>
							<ul class="dropdown-menu inverse-dropdown">
							  <li><a href="/demos">Demos</a></li>
							  <li><a href="https://snippets.haxeflixel.com/">Snippets</a></li>
							</ul>
						</li>

						<li <%= @ashowcase %>>
							<a href="/showcase">Showcase</a>
						</li>

						<li <%= @ablog %>>
							<a href="/blog">Blog</a>
						</li>

						<li <%= @adocs %>>
							<a href="/documentation">Docs</a>
						</li>

						<li>
							<a href="http://api.haxeflixel.com">API</a>
						</li>

						<li <%= @aforum %>>
							<a href="https://github.com/HaxeFlixel/flixel/discussions">Forum</a>
						</li>

					</ul>
		
					<!-- <%- @partial('search.html') %> -->

				</div>

			</div>

		</div>

	</nav>
</header>