<!DOCTYPE html>
<html lang="en">
<!-- <%- @partial('head.html.eco', {title:@getPreparedTitle()}, {description:@getPreparedDescription()}, {keywords:@getPreparedKeywords()}, {author:@site.author or ''}, {styles:@getBlock("styles").add(["/styles/style.css"]).toHTML()} ) %> -->

{% renderFile "layouts/partials/head.html" %}

<body>

	{% renderFile "layouts/partials/header-menu.html" %}

	
	<!-- <h1 class="title"><%= @document.title %></h1> -->
	{{ content }}
		

<!-- <%-@partial('footer.html')%> -->
{% renderFile "layouts/partials/footer.html" %}

<!-- <%- @getBlock('scripts').add(@site.scripts).toHTML() %> -->

</body>

</html>
