---
layout: 'default.html'
title: 'Home'
---

<div class="flex flex-col space-y-5 ">
    <div class="flex flex-col items-center space-y-2 w-screen">

        <a href="documentation/about" class="home-big-logo" title="About HaxeFlixel">
            <img src="images/haxeflixel.svg" width="200" alt="HaxeFlixel Logo">
        </a>

        <h1 class="text-6xl font-bold">HaxeFlixel</h1>


        <p class="text-3xl">Create cross-platform games easier and free.</p>
        <p class="text-3xl">All with one codebase.</p>

        <div class="flex flex-row justify-evenly h-auto w-screen text-4xl">
            <a class="text-center outline outline-indigo-500 hover:bg-indigo-500 hover:text-white py-4 px-8 rounded-full" href="/documentation/getting-started">Getting Started</button>
            <a class="text-center outline outline-indigo-500 hover:bg-indigo-500 hover:text-white py-4 px-8 rounded-full" href="https://github.com/HaxeFlixel">GitHub</a>
        </div>
            
        
    </div>

    <hr>

    <div class="flex flex-col items-center space-y-4">

        <h1 class="text-4xl ">Cross-compile your games <a href="documentation/about">natively</a> to:</h1>

        <div class="flex flex-row gap-10 justify-center h-14 items-center">
            <img class="transition ease-out h-full hover:scale-110" src="images/targets/windows-logo.svg" alt="Windows" title="Windows">
            <img class="transition ease-out h-full hover:scale-110" src="images/targets/linux-logo.svg" alt="Linux" title="Linux">
            <img class="transition ease-out h-full hover:scale-110" src="images/targets/apple-logo.svg" alt="Mac" title="Mac">
            <img class="transition ease-out h-full hover:scale-110" src="images/targets/android-logo.svg" alt="Android" title="Android">
            <img class="transition ease-out h-full hover:scale-110" src="images/targets/ios-logo.png" alt="iOS" title="iOS">
            <img class="transition ease-out h-full hover:scale-110" src="images/targets/flash-logo.svg" alt="Flash" title="Flash">
            <img class="transition ease-out h-full hover:scale-110" src="images/targets/html5-logo.svg" alt="HTML5" title="HTML5">
        </div>
    </div>

    <hr>

    <div class="demos-home home-section">
        <!-- <p class="lead-line-large">Browse and learn from our <a href="/demos"><%= @getCollection('demos').length %> demos</a>:</h3></p> -->

        <!-- <% for demo in @getCollection('homepage_demos').toJSON(): %> -->

        <!-- <a href="<%= demo.url %>" property="dc:title">
            <img src="<%= @getThumbnail("/images/demos/#{demo.title}.png", "zoomcrop", { w:160, h:160 }) %>" alt="#{demo.title}" title = "<%= demo.title %>" />
        </a> -->

        <!-- <% end %> -->

    </div>

    <hr>


   <div class="home-section-powered">

        <p class="lead-line-large">Powered by open source cross-platform tech:</p>

        <br/>

        <a href="https://haxe.org"><img src="/images/haxe.svg" alt="Haxe Logo" title="Haxe" height="120"></a>

        <span><b>+</b></span>

        <a href="https://openfl.org"><img src="/images/openfl.svg" alt="OpenFL Logo" title="OpenFL" height="120"></a>

        <span><b>+</b></span>

        <a href="https://flixel.org"><img src="/images/flixel.svg" alt="Flixel Logo" title="Flixel" height="120"></a>

        <span><b>=</b></span>

        <a href="https://haxeflixel.com"><img src="/images/haxeflixel.svg" alt="HaxeFlixel logo" title="HaxeFlixel" height="120"></a>

        </p>

        <br/>

    </div>

    <hr>

    <div class="home-sponsor-logos">

        <p class="lead-line-large">Our platinum and gold sponsors:</p>

        <div class="sponsor-logos-container">
            <a class="platinum" href="http://www.defendersquest.com">
                <img src="/images/sponsors/platinum/level-up-labs/lul_logo_circle.png" />
            </a>

            <a class="platinum" href="http://bluebottlegames.com">
                <img src="/images/sponsors/platinum/blue-bottle-games/bbgLogoColor256x256.png" />
            </a>

            <a class="gold" href="http://www.kongregate.com">
                <img src="/images/sponsors/gold/kongregate/kongregate_anthill.svg" />
            </a>

            <a class="gold" href="http://www.solarpoweredgames.de">
                <img src="/images/sponsors/gold/solar-powered/logo-solarpoweredgames-inverted-256.png" />
            </a>
        </div>

        <br />

        <a class="home-button sponsors-button" href="/sponsors">
            See all our Sponsors
        </a>

    </div>

</div>