---
layout: 'default.html'
title: 'Home'
---

<div class="flex flex-col space-y-5 ">
    <div class="flex flex-col items-center space-y-2 w-screen">

        <a href="documentation/about" class="home-big-logo" title="About HaxeFlixel">
            <img class="transition ease-out hover:scale-110" src="images/haxeflixel.svg" width="200" alt="HaxeFlixel Logo">
        </a>

        <h1 class="text-6xl font-bold">HaxeFlixel</h1>


        <p class="text-3xl">Create cross-platform games easier and free.</p>
        <p class="text-3xl">All with one codebase.</p>

        <div class="flex flex-row justify-evenly h-auto w-screen text-4xl">
            <a class="text-center outline outline-hf-blue hover:bg-hf-blue hover:text-white py-4 px-8 rounded-full" href="/documentation/getting-started">Getting Started</button>
            <a class="text-center outline outline-hf-blue hover:bg-hf-blue hover:text-white py-4 px-8 rounded-full" href="https://github.com/HaxeFlixel">GitHub</a>
        </div>
            
        
    </div>
    

    <div class="flex flex-row text-white bg-black px-80 py-10 h-80 space-x-6 justify-around items-center">

        <div class="flex flex-col w-1/2 ">
            <h1 class="text-2xl font-black">Cross compile your games <a class="hover:scale-110 invert-0" href="documentation/about"><i>natively</i></a> to: <span id="hover-target" >...</span></h1>
            <script>
                let nInterval;
                let hoverElement = document.getElementById("hover-target");
                let index = 0;

                hoverElement.addEventListener("mouseover", hoverOrClick);
                hoverElement.addEventListener("mousedown", hoverOrClick);

                function hoverOrClick() {
                    const messages = ["Windows", "Mac", "Linux", "iOS", "Android", "HTML5"];
                    const classes = ["text-hf-blue", "text-hf-green", "text-hf-red", "text-hf-yellow", "text-hf-light-blue"];
                    
                    hoverElement.textContent = messages[index];
                    index = (index + 1) % messages.length;
                    hoverElement.classList = classes[Math.floor(Math.random() * classes.length)];
                    hoverElement.style.opacity = 1;

                    clearInterval(nInterval);
                    nInterval = setInterval(hoverOrClick, 1500);
                }

                nInterval = setInterval(hoverOrClick, 1500);

                function step() {
                    hoverElement.style.opacity = hoverElement.style.opacity - 0.005;
                    window.requestAnimationFrame(step);
                }

                window.requestAnimationFrame(step);

            </script>

            <!-- <div class="flex flex-row flex-wrap gap-10 justify-center h-14 items-center invert ">
                <img class="transition ease-out h-full hover:scale-110" src="images/targets/windows-logo.svg" alt="Windows" title="Windows">
                <img class="transition ease-out h-full hover:scale-110" src="images/targets/linux-logo.svg" alt="Linux" title="Linux">
                <img class="transition ease-out h-full hover:scale-110" src="images/targets/apple-logo.svg" alt="Mac" title="Mac">
                <img class="transition ease-out h-full hover:scale-110" src="images/targets/android-logo.svg" alt="Android" title="Android">
                <img class="transition ease-out h-full hover:scale-110" src="images/targets/ios-logo.png" alt="iOS" title="iOS">
                <img class="transition ease-out h-full hover:scale-110" src="images/targets/flash-logo.svg" alt="Flash" title="Flash">
                <img class="transition ease-out h-full hover:scale-110" src="images/targets/html5-logo.svg" alt="HTML5" title="HTML5">
            </div> -->
        </div>
        <div class="w-1/2 text-lg font-bold">
            <p>HaxeFlixel is the damn easy, damn fun framework for creating 2D games.</p>
            <br>
            <p>Easy to learn, extend, and customize, HaxeFlixel gives you the power to make anything from small weekend gamejam prototypes, to full commercialy released independent games.</p>
        </div>
        
        
    </div>


    <div class="demos-home home-section">
        <!-- <p class="lead-line-large">Browse and learn from our <a href="/demos"><%= @getCollection('demos').length %> demos</a>:</h3></p> -->

        <!-- <% for demo in @getCollection('homepage_demos').toJSON(): %> -->

        <!-- <a href="<%= demo.url %>" property="dc:title">
            <img src="<%= @getThumbnail("/images/demos/#{demo.title}.png", "zoomcrop", { w:160, h:160 }) %>" alt="#{demo.title}" title = "<%= demo.title %>" />
        </a> -->

        <!-- <% end %> -->

    </div>



   <div class="flex flex-col items-center space-y-4 w-screen h-52 justify-center text-3xl font-bold">

        <p>Powered by <a class="text-haxe hover:text-haxe-100 " href="https://github.com/haxeflixel">open source</a> cross-platform tech:</p>

        <div class="flex flex-row items-center items-stretch text-center justify-between w-1/2 h-25 space-x-0 text-6xl">
            <a class="h-full transition ease-out h-full hover:scale-110" href="https://haxe.org"><img class="h-full" src="/images/haxe.svg" alt="Haxe Logo" title="Haxe" ></a>
            <p class="flex items-center">+</p>
            <a class="h-full transition ease-out h-full hover:scale-110" href="https://openfl.org"><img class="h-full" src="/images/openfl.svg" alt="OpenFL Logo" title="OpenFL" ></a>
            <p class="flex items-center">+</p>
            <a class="h-full transition ease-out h-full hover:scale-110" href="https://flixel.org"><img class="h-full" src="/images/flixel.svg" alt="Flixel Logo" title="Flixel" ></a>
            <p class="flex items-center">=</p>
            <a class="h-full transition ease-out h-full hover:scale-110" href="https://haxeflixel.com"><img class="h-full" src="/images/haxeflixel.svg" alt="HaxeFlixel logo" title="HaxeFlixel" ></a>
        </div>
    </div>

    <hr>

    <div class="home-sponsor-logos">

        <p class="lead-line-large">Our platinum and gold sponsors:</p>

        <div class="sponsor-logos-container">
            <a class="platinum" href="http://www.defendersquest.com">
                <img src="/images/sponsors/platinum/level-up-labs/lul_logo_circle.png" />
            </a>

            <a class="platinum" href="http://bluebottlegames.com">
                <img src="/images/sponsors/platinum/blue-bottle-games/bbgLogoColor256x256.png" />
            </a>

            <a class="gold" href="http://www.kongregate.com">
                <img src="/images/sponsors/gold/kongregate/kongregate_anthill.svg" />
            </a>

            <a class="gold" href="http://www.solarpoweredgames.de">
                <img src="/images/sponsors/gold/solar-powered/logo-solarpoweredgames-inverted-256.png" />
            </a>
        </div>

        <br />

        <a class="home-button sponsors-button" href="/sponsors">
            See all our Sponsors
        </a>

    </div>

</div>