@import "./flixel-colors.scss";

$color-mode-type: data;

@include color-mode(dark) {
	body {
		color: var(--bs-secondary-color);
		background-color: var(--bs-body-bg-subtle);
	}

	.navbar {
		background-color: #111;
	}
}
