/* Footer
-------------------------------------------------- */

.footer-main {
  margin-top: 60px;
  background: url("/images/footer-shadow.png") repeat-x scroll 0 0 #515151;
  min-height: 110px;
  text-shadow: none;
}

footer:before {
  background-image: -webkit-linear-gradient(left, #ffdb2d 0%, #ffdb2d 20%, #e30019 20%, #e30019 40%, #9CB641 40%, #9CB641 60%, #1a2eef 60%, #1a2eef 80%, #00abf3 80%, #00abf3 100%);
  background-image: -moz-linear-gradient(left center, #ffdb2d 0%, #ffdb2d 20%, #e30019 20%, #e30019 40%, #9CB641 40%, #9CB641 60%, #1a2eef 60%, #1a2eef 80%, #00abf3 80%, #00abf3 100%);
  top: 1;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
}

.footer-powered-by {
  color: #FFFFFF;
  float: right;
  margin-top: 10px;
}

.footer-powered-by img {
  width: 40px;
  .hover-scale-fx(1.2);
  margin: 6px;
}

.footer-social {
  margin-top: 28px;
  float: left;
}

#demoSWF {
  display: block;
  margin: 0 auto;
}