.backer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.backer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 120px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}

.backer h4 {
  margin: 10px;
  overflow: hidden;
}

.indiegogo-frame {
  float: right;
}

.success-header {
  float: left;
  padding: 10px;
}

.success-header img {
  float: left;
}

.success-header .success-text {
  margin: 10px;
  float: right;
}

.thanks-container {
  margin: 0 auto;
  text-align: centre;
}

.thanks-container img {
  padding: 10px;
  margin: 0 auto;
  display: block;
}

.thanks-container h3 {
  text-align: center;
}

.clear {
  clear: both;
}