@import "../mixins/style";
@import "../../../files/vendor/LESSHat/lesshat.less";

/* Homepage styles
-------------------------------------------------- */

.flixel-footer-logo {
  height: 40px;
}

.footer-powered-by img.openfl-footer-logo {
  width: 106px;
}

.lead-line {
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 30px;
}

.lead-line-large {
  font-size: 30px;
  font-weight: 200;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

.home-button {
  .button-style();
  margin-left: 4;
  margin-right: 4px;
  text-align: center;
}

@media (max-width: @screen-md-min) {
  .home-button {
    margin-top: 20px;
    margin-bottom: 20px;
    display:block;
  }
}

.home-header {
  margin-top: 5em;
}

.home-header h1 {
  font-size: 6em;
  line-height: 1;
}

@media (max-width: @screen-sm-min) {
  .home-header h1 {
    font-size: 4em;
  }
} 

.home-social {
  margin-top: 4em;
}

.home-section-features {
  position: relative;
  padding: 1em;
  text-align: left;
  font-size: 1.1em;
}

.home-section {
  position: relative;
  padding: 1em;
  text-align: center;
}

.demos-home img {
  margin: 10px;
  .hover-scale-fx(1.2);
  .box-shadow(~"0 1px 5px #696969, 0 -2px 5px #F2F2F2");
}

.demo-page.center-align-a > a {
  .hover-scale-fx(1.02);
}

.platform-logos-home img {
  margin: 10px;
  .hover-scale-fx(1.2);
}

.platform-demos-home img {
  .hover-scale-fx(1.1);
  padding: 10px;
}

.twitter-follow-button.twitter-follow-button {
  height: 36px;
}

.home-big-logo img {
  .hover-scale-fx(1.1);
}

.navbar-fixed-top {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

#carousel-example-generic {
  .box-shadow(~"0 1px 5px #696969, 0 -2px 5px #F2F2F2");
}

.left.carousel-control.carousel-tweet-control, .right.carousel-control.carousel-tweet-control {
  background: none;
}

#carousel-tweets {
  padding-left: 32px;
  padding-right: 32px;
}

.tweet-next {

}

.tweet-prev {

}

.icon-next.tweet-next {
  right: 0;
  position: absolute;
  left: 100%;
}

.icon-prev.tweet-prev {
  right: 100%;
  position: absolute;
  left: 0;
}