<!DOCTYPE html>
<html lang="en">
<!-- <%- @partial('head.html.eco', {title:@getPreparedTitle()}, {description:@getPreparedDescription()}, {keywords:@getPreparedKeywords()}, {author:@site.author or ''}, {styles:@getBlock("styles").add(["/styles/style.css"]).toHTML()} ) %> -->
{% include "layouts/head.html" %} 

<body class="min-h-screen flex flex-col">

	{% include "layouts/header-menu.html" %}

	<br>
	<br>
	<!-- <h1 class="title"><%= @document.title %></h1> -->
	{{ content }}
		

<!-- <%-@partial('footer.html')%> -->
	

<!-- <%- @getBlock('scripts').add(@site.scripts).toHTML() %> -->
	{% include "layouts/footer.html" %}
</body>

</html>
