<head>

	<meta charset="utf-8"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<meta name="theme-color" content="#3d8fcc">

	<title>{{ title }}</title>
	<meta name="title" content="{{ title }}"/>
	<meta name="description" content="<%= @description %>"/>
	<meta name="keywords" content="<%= @keywords %>"/>
	<meta name="author" content="<%= @author %>"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


	<link rel="icon" href="/images/haxeflixel.svg">
	<!-- <link rel="shortcut icon" href="/images/favicon.ico"> -->

	<link rel="stylesheet" href="/css/bundle.css"/>


</head>
