---
layout: layouts/default.html
---


    <div class="w-2/3 self-center space-y-3 text-xl dark:font-medium pb-20 dark:text-white checkboxes">
        <div id="footer-splash" class="min-w-fit flex flex-row h-1 justify-stretch cursor-pointer">
            <div id="foot-yellow" class="grow bg-hf-yellow h-full"></div>
            <div id="foot-red" class="grow bg-hf-red h-full"></div>
            <div id="foot-green" class="grow bg-hf-green h-full"></div>
            <div id="foot-blue" class="grow bg-hf-blue h-full"></div>
            <div id="foot-light-blue" class="grow bg-hf-light-blue h-full"></div>
        </div>
        {{content}}
    </div>
